/* You can add global styles to this file, and also import other style files */
.form-group>input{
    font-weight: bolder;
}
.form-group>label{
    font-weight: lighter;
}

button[type="submit"]{
    background-color: #67dfd4;
    color: #fff;

}